<h2>Loja Virtual</h2>
<div class="area">
<div>
    <div class="produto" *ngFor="let produto of produtos">
     <p>{{produto.nome}}
     R$:{{produto.preco}} <button (click)="Adicionar(produto.id)">Comprar</button></p>
      
    </div>
</div>
<h3>Carrinho</h3>
<div class="divTabela">
  <div>
  <table class="tabela">
    <thead>
    <tr>
    <th>Produto</th>
    <th>Quantidade</th>
    <th>Preço</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of carrinho.produtos">
      <td>{{produto.nome}}</td>
      <td>{{produto.quant}} </td>
      <td>{{produto.preco}}</td>
      
      
    </tr>
  </tbody>
  <div class="total"> <h4>Total:</h4> <p>{{carrinho.total}}</p></div>
  </table>
</div>

  
</div>